<section class="bankInfo">
    
    <form fxLayout="column" fxLayoutAlign="start"
     name="form" [formGroup]="bankInfoForm">
        
        <div fxLayout.sm="column" fxLayout.gt-sm="column" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
            <p class="toptextlabel">Please provide your IBAN/Account number to get the right information from your bank.</p>

            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                <mat-label>Account Information</mat-label>
                <input matInput formControlName="accountNumber" required >
            </mat-form-field>


            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                <mat-label>Bank Name</mat-label>
                <input matInput formControlName="bankName" required >
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                <mat-label>BIC</mat-label>
                <input matInput formControlName="bic" required >
            </mat-form-field>


            <mat-label><strong>Bank Address</strong></mat-label>
            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-2'" [ngClass.gt-sm]="'pl-2'">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country" required (selectionChange)="updateCountrySelection()">
                    <mat-option [value]="country" *ngFor="let country of countries">{{country}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address1" required >
                </mat-form-field>
    
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                    <mat-label>Office/Flat No.</mat-label>
                    <input matInput formControlName="address2" required >
                </mat-form-field>
            </div>
            

            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" required >
                </mat-form-field>
    
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                    <mat-label>Area</mat-label>
                    <input matInput formControlName="area" required >
                </mat-form-field>
            </div>
            

            <!-- <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="BankUserName" required [maxlength]="globalConfig.validator.maxFieldLength" >
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-2'" [ngClass.gt-sm]="'pl-2'">
                <mat-label>Pricing Plan</mat-label>
                <mat-select formControlName="PricingPlanID" required (selectionChange)="setPricingPlanName()">
                    <mat-option [value]="item.PricingPlanID" *ngFor="let item of pricingPlans">{{item.PricingTitle}}</mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>


        <div fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" fxLayout="column" fxLayoutAlign="center stretch">
            <button mat-raised-button matStepperNext class="my-4"color="accent" [disabled]="bankInfoForm.invalid"
                aria-label="Next">
                Next
            </button>
        </div>

    </form>

</section>


