<section class="bankInfo">
    
    <form fxLayout="column" fxLayoutAlign="start"
     name="form" [formGroup]="beneficiaryDetailForm">
   
        <div fxLayout.sm="column" fxLayout.gt-sm="column" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
            
            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                <mat-label>Beneficiary Name</mat-label>
                <input matInput formControlName="beneficiaryName" required >
            </mat-form-field>

            
            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                <mat-label>Nick Name</mat-label>
                <input matInput formControlName="nickName" required >
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-2'" [ngClass.gt-sm]="'pl-2'">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country" required (selectionChange)="updateCountrySelection()">
                    <mat-option [value]="country" *ngFor="let country of countries">{{country}}</mat-option>
                </mat-select>
            </mat-form-field>

            
            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address1" required >
                </mat-form-field>
    
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                    <mat-label>Office/Flat No.</mat-label>
                    <input matInput formControlName="address2" required >
                </mat-form-field>
            </div>
            

            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" required >
                </mat-form-field>
    
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-2'" [ngClass.gt-sm]="'pr-2'">
                    <mat-label>Area</mat-label>
                    <input matInput formControlName="area" required >
                </mat-form-field>
            </div>
            
            <mat-label>Transfer Limit</mat-label>
                <mat-slider formControlName="webLimit" min="100" max="1000" step="0.5" value="1.5"></mat-slider>


            <!-- <mat-form-field appearance="outline" fxFlex.gt-sm="33" fxFlex.sm="33" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="BankUserName" required [maxlength]="globalConfig.validator.maxFieldLength" >
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex.gt-sm="33" fxFlex.sm="33" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                <mat-label>Pricing Plan</mat-label>
                <mat-select formControlName="PricingPlanID" required (selectionChange)="setPricingPlanName()">
                    <mat-option [value]="item.PricingPlanID" *ngFor="let item of pricingPlans">{{item.PricingTitle}}</mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>


        <div fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" fxLayout="column" fxLayoutAlign="center stretch">
            <button mat-raised-button matStepperNext class="my-4"color="accent" [disabled]="beneficiaryDetailForm.invalid"
                aria-label="Next">
                Next
            </button>
        </div>

    </form>

</section>


