// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";


p {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #333333;
}